<a href="https://colab.research.google.com/github/Gakori/Autolib/blob/master/Moringa_Data_Science_Prep_W4_Independent_Project_2020_05_Faith_Gakori_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#import libraries
import pandas as pd
import numpy as np

In [0]:
#load the csv file
autolib_df = pd.read_csv('Autolib_dataset (2).csv')
autolib_df.head(5)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [0]:
##accessing the dataset info
autolib_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [0]:
#check if there are any null values
autolib_df.isnull().values.any()

True

In [0]:
#finding the null values
autolib_df.isnull().sum()

Address                   0
Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Displayed comment      4889
ID                        0
Kind                      0
Geo point                 0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

In [0]:
#shape of the dataset
autolib_df.shape

(5000, 25)

In [0]:
#drop columns by dropping the columns that contain null values
autolib_df_comment = autolib_df.drop(['Displayed comment'], axis=1, inplace =True)
autolib_df_comment

In [0]:
#drop 'Scheduled at'
autolib_df_Scheduled = autolib_df.drop(['Scheduled at'], axis=1, inplace=True)
autolib_df_Scheduled

In [0]:
#confirming whether changes have been made
autolib_df.isnull().sum()

Address                0
Cars                   0
Bluecar counter        0
Utilib counter         0
Utilib 1.4 counter     0
Charge Slots           0
Charging Status        0
City                   0
ID                     0
Kind                   0
Geo point              0
Postal code            0
Public name            0
Rental status          0
Slots                  0
Station type           0
Status                 0
Subscription status    0
year                   0
month                  0
day                    0
hour                   0
minute                 0
dtype: int64

In [0]:
#accessing all the columns
autolib_df.columns

Index(['Address', 'Cars', 'Bluecar counter', 'Utilib counter',
       'Utilib 1.4 counter', 'Charge Slots', 'Charging Status', 'City', 'ID',
       'Kind', 'Geo point', 'Postal code', 'Public name', 'Rental status',
       'Slots', 'Station type', 'Status', 'Subscription status', 'year',
       'month', 'day', 'hour', 'minute'],
      dtype='object')

In [0]:
#changing the columns into lowercase
autolib_df.rename(columns={'Address':'address', 'Cars':'cars', 'Bluecar counter':'bluecar counter', 
                           'Utilib counter':'utilib counter', 'Utilib 1.4 counter':'utilib 1.4 counter',
                           'Charge Slots':'charge slots', 'Charging Status':'charging status', 
                           'City':'city', 'ID':'id', 'Kind':'kind', 'Geo point':'geo point', 
                           'Postal code':'postal code', 'Public name':'public name',
                           'Rental status':'rental status', 'Slots':'slots',
                           'Station type':'station type', 'Status':'status', 
                           'Subscription status':'subscription status',
                      }, inplace = True)
autolib_df.head()

                              address  cars  bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 23 columns]

In [0]:
autolib_df.head()

                              address  cars  bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 23 columns]

In [0]:
#find shape of the new dataset
autolib_df.shape

(5000, 23)

In [30]:
#add datetime column

autolib_df['datetime'] = pd.to_datetime((autolib_df.year*10000+autolib_df.month*100+autolib_df.day).apply(str),format='%Y%m%d')
datetime
autolib_df.head()

                              address  cars  ...  minute   datetime
0                 2 Avenue de Suffren     0  ...      43 2018-04-08
1           145 Rue Raymond Losserand     6  ...      24 2018-04-06
2    2 Avenue John Fitzgerald Kennedy     3  ...      14 2018-04-03
3              51 Rue EugÃ¨ne OudinÃ©     3  ...      37 2018-04-04
4  6 avenue de la Porte de Champerret     3  ...      23 2018-04-08

[5 rows x 24 columns]

In [42]:
#most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018
# city_hour = autolib_df['city'] == 'Paris'
# autolib_df.loc[city_hour].head()

result = autolib_df.groupby(['datetime', 'bluecar counter', city_hour])['hour'].value_counts()
result

datetime    bluecar counter  city   hour
2018-04-01  0                False  13      4
                                    5       3
                                    7       3
                                    11      3
                                    14      3
                                           ..
2018-04-09  7                False  13      2
                                    5       1
                                    12      1
                             True   3       1
                                    17      1
Name: hour, Length: 2262, dtype: int64

In [0]:
#What is the most popular hour for returning cars
popular_hour = autolib_df.groupby(['hour', 'cars'])['hour'].agg(['count']).sort_values(by='count', ascending=False)
popular_hour.head(1)

           count
hour cars
14   0        76

In [0]:
#What station is the most popular station
#overall

popular_station = autolib_df.groupby(['station type'])['station type'].agg(['count']).sort_values(by='count', ascending=False)
popular_station.head(1)

              count
station type
station        4615

In [0]:
#What postal code is the most popular for picking up Blue cars
popular_postal = autolib_df.groupby(['postal code', 'bluecar counter'])['postal code'].agg(['count']).sort_values(by='count')
popular_postal.head(1)

                             count
postal code bluecar counter
95880       6                    1

In [43]:
#most popular picking hour for the postal code
code_hour = autolib_df.groupby(['hour', 'postal code'])['hour'].agg(['count']).sort_values(by='count', ascending=False)
code_hour.head(1)

                  count
hour postal code
6    75016           19